@font-face {
  src: url(../fonts/gotham_medium.otf);
  font-family: g-medium;
}

.custom-select {
  position: relative;
  display:inline-block;
  text-align: left;
  font-family: g-medium;
  width: auto;
  min-width: 240px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #FFF;
  color: #1A1A1A;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  /* border-color: transparent transparent #fff transparent;
  top: 7px; */
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #1A1A1A;
  padding: 8px 8px;
  /* border: 1px solid transparent; */
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #FF5C1A;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center;
  color: #FFF;
  border-radius: 0px 0px 10px 10px;
}

.select-items div{
  color: #FFF;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  color: #1A1A1A;
}
