:root {
    --color_urban: #FF5C1A;
}
html, body {
    width: 100%;
    height: auto;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

@font-face {
    src: url(../fonts/big_noodle_titling.ttf);
    font-family: regular;
}

@font-face {
    src: url(../fonts/big_noodle_titling_oblique.ttf);
    font-family: oblique;
}

@font-face {
    src: url(../fonts/Hanson-Bold.ttf);
    font-family: hanson;
}

@font-face {
    src: url(../fonts/gotham_book.otf);
    font-family: g-book;
}

@font-face {
    src: url(../fonts/gotham-bold.otf);
    font-family: g-bold;
}

@font-face {
    src: url(../fonts/Hanson-Bold.ttf);
    font-family: hanson-bold;
}

::-webkit-scrollbar {
    width: 10px;
    scrollbar-width: thin;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--color_urban);
    border-radius: 10px;
    border: 2px solid #FFF;
}
p {
    margin-top: inherit;
    margin-bottom: 0;
}

.color_urban{
    color: white;
}

.fondo_urban{
    background-color: var(--color_urban);
}

/* .login-box {
    background-color: #fff;
}
.login-box, .register-box {
    width: 575px;
    height: auto;
} */
.login-box, .register-box {
    width: 575px;
}
.card {
    padding: 40px 60px;
    border-radius: 15px;
}
.input-field .input-inicio {
    padding: 0;
    background: #E5E5E5 !important;
    color: #1A1A1A !important;
    border-radius: 25px !important;
    border: 0 !important;
    padding-left: 15px !important;
    font-family: g-book !important;
    letter-spacing: 3px !important;
    font-size: 20px !important;
    height: 45px !important;
    width: 100% !important;
}
.input-field .input-inicio:focus {
    color: #1A1A1A;
    background-color: #E5E5E5;
    border-color: inherit;
}
.label-inicio {
    position: absolute;
    pointer-events: none;
    font-family: regular;
    color: #FC5D2B !important;
    letter-spacing: 3px;
    font-size: 20px !important;
    top: -3px !important;
    left: 15px !important;
    animation: all 300ms ease;
}
.input-field>label:not(.label-icon).active {
  -webkit-transform: translateY(-18px) scale(0.8);
  transform: translateY(-18px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}
input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: normal;
}
a:not([href]) {
    color: #1A1A1A;
    text-decoration: none;
}
.mostrar-pass {
    position: absolute;
    right: 15px;
    top: 25%;
    margin: auto;
    width: 25px;
    cursor: pointer;
}
.div-inicio-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.div-inicio-modal p {
    width: auto;
}
.div-inicio-modal p label {
    font-family: g-book;
    color: #1A1A1A;
}
.div-inicio-modal p label {
    font-family: g-book;
    color: #1A1A1A;
}
.enlace-pass {
    text-decoration: none;
    color: #1A1A1A;
    font-family: g-book;
    cursor: pointer;
}
.button-inicio {
    width: auto;
    padding: 10px 20px;
    font-family: regular;
    letter-spacing: 6px;
    font-size: 18px;
    color: #FFF;
    background: #FC5D2B;
    border: 2px solid #FC5D2B;
    border-radius: 25px;
    transition: 0.5s;
    margin-bottom: 10px;
    min-width: 250px;
}
.button-inicio:hover {
    cursor: pointer;
    background: #FFF;
    color: #FC5D2B;
    transition: 0.5s;
}
#cont_botones_inicio {
    text-align: center;
}
.logo-head {
    height: 100px;
}
header {
    width: 100%;
    /* height: 140px; */
    text-align: right;
    position: fixed;
    z-index: 99;
    top: 0;
    transition: 0.5s;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont_header {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.menu-contender {
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
}
.menu-nav {
    list-style: none;
    padding: 0;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}
.menu-nav li {
    color: var(--color_urban);
    font-family: regular;
    cursor: pointer;
    font-size: 24px;
    width: auto;
    padding: 5px;
    margin: 0px 15px;
    border-bottom: 3px solid transparent;
    letter-spacing: 2px;
    position: relative;
}
.icon-usuario {
    background: url(../img/logo-usuario.svg);
}
.icon_menu_log {
    transition: 0.5s;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35px;
    height: 35px;
}
.menu-nav li span {
    color: var(--color_urban);
    position: absolute;
    width: 150%;
    left: -25%;
}
.menu-nav li span {
    color: var(--color_urban);
    position: absolute;
    width: 150%;
    left: -25%;
}
.menu-nav li:hover {
    color: #1A1A1A;
    border-bottom: 3px solid #1A1A1A;
    transition: 0.5s;
}
.usuario_login {
    /* width: 80px; */
    font-family: g-book;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
}
.menu-el {
    line-height: 0.8;
}
.menu-el:hover{
    color: #1A1A1A;
}
.menu-el a:hover{
    color: #1A1A1A;
}
.menu-nav li:hover {
    color: #1A1A1A;
    border-bottom: 3px solid #1A1A1A;
    transition: 0.5s;
}
.border-hover:hover {
    border-bottom: 3px solid transparent !important;
}
.hov-usuario:hover > .icon-usuario {
    transition: 0.5s;
    background: url(../img/logo-usuario-b.svg);
}
.menu-nav li:hover span {
    color: black;
}
.encabezado {
    width: 90%;
    margin: auto;
    margin-top: auto;
    border-bottom: 2px solid var(--color_urban);
    left: 50%;
    transform: translate(-50%,0%);


}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    /* overflow: visible; */
    vertical-align: -.125em;
}
.barra_home {
  display: flex !important;
  margin-top: 40px !important;
  position: fixed !important;
  background: white !important;
  z-index: 90 !important;
  height: 150px;
  justify-content: center !important;
  align-items: flex-end;
}
.cont_encabezado_home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
#encabezado_vista {
    width: 33%;
    display: flex !important;
    justify-content: left;
}
#encabezado_categoria {
    width: 33%;
    display: flex !important;
    justify-content: center;
}
#encabezado_filtro {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
.cont_estilo_lista {
    position: relative;
    width: 20%;
    height: auto;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tipo_vista_active {
    z-index: 10;
    color: var(--color_urban);
}
.tipo_vista_list {
    position: relative;
    /* z-index: 9; */
}
.tipo_vista {
    font-size: 24px;
    font-family: regular;
    transition: 0.5s;
    cursor: pointer;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    /* overflow: visible; */
    vertical-align: -.125em;
}
.tipo_vista_grid {
    position: relative;
    z-index: 9;
    margin: 0 2px;
}
.tipo_vista {
    font-size: 24px;
    font-family: regular;
    transition: 0.5s;
    color: #ccc;
    cursor: pointer;
}
.tipo_vista_active {
    color: var(--color_urban);
}
.titulo {
    font-size: 24px;
    font-family: regular;
    color: #FFF;
    background: var(--color_urban);
    display: inline-block;
    padding: 2px 70px;
    border-radius: 100px 100px 0 0;
}
.custom-select {
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: g-medium;
    width: auto;
    min-width: 240px;
}
.custom-select {
    text-align: left;
    font-family: g-medium;
}
/* .select-selected::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
}
.select-items div, .select-selected {
    color: #1A1A1A;
    padding: 8px 8px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
} */
.custom-select {
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: g-medium;
    width: auto;
    min-width: 240px;
}
.select-selected::after {
    border: 6px solid transparent;
}
.select-items {
    position: absolute;
    background-color: var(--color_urban);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    color: #FFF;
    border-radius: 0px 0px 10px 10px;
}
.select-items div, .select-selected {
    color: #1A1A1A;
    /* padding: 8px 8px; */
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-selected {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.custom-select {
    border: none;
    box-shadow: none;
    background: inherit;
}
.select-selected::after {
    position: absolute;
    content: "";
    top: 14px;
    right: -14px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
}
.conten_principal {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 250px;
    position: relative;
}
.contenedor_interno {
    width: 100%;
    min-height: calc(100vh - 250px);
    position: relative;
    padding: 200px 5%;
}
}
.dataTables_wrapper {
    /* max-height: 100%; */
}
.contenedor_interno label {
    display: inline-flex;
    width: auto;
    align-items: center;
}
/* .contenedor_interno select {
    display: inline-block;
    width: 100px;
    height: 2rem;
    padding: 0 1rem;
    margin: 0 5px;
} */
.dataTables_wrapper .dataTables_length select {
    position: relative;
}
.dataTables_wrapper .dataTables_length select::after {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    height: 5px;
    width: 5px;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.contenedor_interno .select-wrapper {
    width: 80px;
    margin: 0 10px;
}
.dataTables_filter input {
    margin-left: 10px !important;
}
.contenedor_interno td, .contenedor_interno th {
    border-radius: 0;
}
.contenedor_interno tr, .contenedor_interno table.dataTable thead th, .contenedor_interno table.dataTable thead td {
    border-bottom: 1px solid var(--color_urban);
}
.contenedor_interno table.dataTable tfoot th, .contenedor_interno table.dataTable tfoot td {
    border-top: 1px solid var(--color_urban);
}
.contenedor_interno thead th {
    color: var(--color_urban);
    font-family: regular;
    font-size: 20px;
    letter-spacing: 2px;
}
.contenedor_interno table.dataTable thead th, .contenedor_interno table.dataTable tfoot th {
    font-weight: normal;
}
.contenedor_interno tbody td {
    font-family: g-book;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: left;
    height: 30px;
}
.contenedor_interno tfoot {
    display: none;
}
.contenedor_interno table.dataTable.display tbody tr.odd > .sorting_1, .contenedor_interno table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: inherit;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: inherit;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: inherit;
}
table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
    background-color: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid var(--color_urban);
    /* background: var(--color_urban); */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: var(--color_urban) !important;
    color: #fff !important;
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 20px;
    color: #1A1A1A;
}
.contenedor_interno td, .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #1A1A1A;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid var(--color_urban);
}
.dropdown-content li > a, .dropdown-content li > span {
    color: var(--color_urban);
}
.dataTables_paginate {
    user-select: none;
}
.contenedor_interno table, table.dataTable.no-footer {
    border-bottom: 1px solid var(--color_urban);
}
.dataTables_info, .dataTables_paginate {
    margin: 20px 0;
}

.img_medalla {
  cursor: pointer;
  width: 30px;
  height: 50px;
  transition: 0.5s;
}

.img_medalla:hover {
  transform:scale(1.1);
}

.img_iconos{
  width: 30px;
}

.espacio_medallas {
    display: flex;
    justify-content: space-around;
}

/*404*/
.contenedor404{
  width:100%;
  height: 100vh;
  background: url('../img/icon-404.svg');
  background-size: cover;
  background-position: center;
  position: absolute;
}

.contenido404{
  width: 80%;
  padding: 0% 10%;
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: right;
  height: 35%;
  right: 0;
}

.titulo404{
  font-family: hanson;
  font-size: 350px;
  line-height: 0.5;
  color: white;
}

.texto404{
  font-family: hanson;
  font-size: 32px;
  color: white;
}

.button404{
  width: auto;
  display: inline-block;
  padding: 5px 50px;
  border: 2px solid #FFF;
  background: #FFF;
  color: #FF5D2B;
  font-family: regular;
  letter-spacing: 2px;
  border-radius: 25px;
  font-size: 20px;
  margin-right: 20%;
  transition: 0.5s;
}

.button404:hover{
  background: #FF5D2B;
  color: #FFF;
  transition: 0.5s;
  cursor: pointer;
}

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.imgdista{
  width: auto;
  height: 100px;
}

.loader_colores{
  width: 30% !important;
  background-color: #b8b8b8 !important;
}

.loader_colores2{
  background-color: #FF5C1A !important;
}
/*  modal diseno */
#modal_detalle{
  width: 60%;
  height: 80vh;
}

.modal_dashboard_diseno{
  width: 60% !important;
  top: 0 !important;
  bottom: 0;
  text-align: center;
  background: #FFF !important;
  padding: 2% !important;
  overflow-y: unset !important;
  /* max-height: 60% !important; */
  border-radius: 15px !important;
}

.close_modal_detalle{
  font-family: g-book;
  font-size: 2vw;
  position: absolute;
  right: 3%;
  top: 3%;
  line-height: 1 !important;
  transition: 0.5s;
  color: #FC5D2B;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
}

.close_modal_detalle:hover{
  transform:scale(1.1);
}

#datos_modal_dashboard{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.fx_modal_content_dashboard{
  padding: 0;
  display: flex;
  flex-direction: row;
}

.wh_100{
  width: 100%;
  height: 100%;
}

.cont_img_dashboard_modal{
  box-sizing: border-box;
}

#contenedor-slider{
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#img_slider_hanger{
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.brd_rd{
  border-radius: 15px !important;
}

#contenedor-datos{
  position: relative;
  width: 55%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top:7%;
}

#contenedor-datos h3{
  text-align: left;
}

.collapsible-header{
  background-color: transparent!important;
}

.cont_nombre_votos{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 70px;
}

.cont_nombre{
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.nombre-prenda{
  font-size: 1.4vw;
  font-family: g-bold;
  color: #FF5C1A;
  text-transform: uppercase;
  text-align: left;
  overflow-wrap: anywhere;
  overflow-wrap: break-word;
}

.nom_modal_dsh{
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  overflow-wrap: break-word;
  /* hyphens: auto; */
}

.cont_vot{
  width: 40%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  min-width: 150px;
}

.cont_votos_corazon_dash{
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  min-width: 150px;
  justify-content: flex-start;
}

.no-votado{
  width: 9vw;
  height: 9vh;
  position: absolute;
  right: 0%;
  background: url(../img/icon-no-votado.svg);
  background-size: 9vw 9vh;
  background-repeat: no-repeat;
  background-position: center;
  cursor: auto;
  z-index: 10;
}

.no_votado_fx {
    width: 40% !important;
    height: 5.5vh !important;
    position: relative !important;
    background: url(../img/icon-no-votado.svg);
    background-size: 5.5vw 5.5vh !important;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10;
    margin: 0 5px !important;
}

.no_votado_fx:hover{
  width: 30%;
  height: 5.5vh;
  background: url(../img/icon-votado.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.5vw 5.5vh;
}

/* .votado_fx:hover{
  width: 30%;
  height: 5.5vh;
  background: url(../img/icon-no-votado.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.5vw 5.5vh;
} */

.votado{
  width: 9vw;
  height: 9vh;
  position: absolute;
  right: 0%;
  background: url(../img/icon-votado.svg);
  background-size: 9vw 9vh;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

/* .votado:hover{
  width: 9vw;
  height: 9vh;
  position: absolute;
  right: 0%;
  background: url(../img/icon-no-votado.svg);
  background-size: 9vw 9vh;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
} */

.votado_fx {
  width: 40% !important;
  height: 5.5vh !important;
  position: relative !important;
  background: url(../img/icon-votado.svg);
  background-size: 5.5vw 5.5vh !important;
  background-repeat: no-repeat;
  background-position: center;
  cursor: auto;
  z-index: 10;
  margin: 0 5px !important;
}

.conteo{
  line-height: .9;
  position: absolute;
  font-family: hanson-bold;
  font-size: 2.2vw;
  color: #FF5C1A;
  left: 0%;
  text-align:left;
}

.conteo_fx {
    line-height: .9 !important;
    position: relative !important;
    font-family: hanson-bold !important;
    font-size: 100% !important;
    color: #FF5C1A !important;
    width: 60% !important;
    left: unset !important;
    text-align: left !important;
    min-width: unset !important;
}

#contenedor-inspiracion{
 position: relative;
 top: -5%;
}

#linea_inspiracion{
  border-bottom: 1px solid #1A1A1A !important;
}

#inspiracion_modal_dashboard{
  width: 100%;
  height: 10vh;
  overflow-y:auto;
  scrollbar-width: thin;
}

#inspo_venta{
  font-size: .9em;
  font-weight: bold;
  word-wrap: anywhere;
}

.wp{
  overflow-wrap: anywhere;
  overflow-wrap: break-word;
}

.cont_vot_com_dash{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column !important;
}

.comentarios{
  position: relative;
  width: 100%;
  height: 50vh;
}

.compartelo_dash{
  /* margin-top: 20%; */
  position: relative;
  width: 100%;
  height: auto;
}
.pad_btm{
  padding-bottom: 2%;
}
.redes{
  display: flex;
  flex-direction: row;
  width:100%;
  height: auto;
  text-align: center;
  border-bottom: 1px solid #FF5C1A;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon-red-modal{
  height: 2.5vh;
  width: 2.5vw;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1);
}
.icon-red-modal:hover{
  transition: 0.5s;
  transform: scale(1.3);
}

#compartelo_modal_dashboard{
  font-size: 1em;
}

.comen_scroll_dash{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 21vh !important;
  overflow-y: auto;
}

.comen_scroll_dash::-webkit-scrollbar{
  width:10px;
}

.comen_scroll_dash::-webkit-scrollbar-track{
  border-radius: 10px;
}

.comen_scroll_dash::-webkit-scrollbar-thumb{
  background: #FF5C1A;
  border-radius: 10px;
  border: 2px solid #FFF;
}

.comen_scroll_dash{
  scrollbar-width: thin;
}

.sin_comentarios{
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}
.comentario-nombre{
  font-size: 0.9vw !important;
  color: #1A1A1A;
}
.agregar_comentario{
  display:inline-block;
  position: relative;
  border-bottom: 2px solid #B1B1B1;
  width: 100%;
  height: 75px;
}
.comentario-perfil{
  display: flex;
  position: relative;
  padding: 7px 0 0 0;
  float: left;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.comentario-perfil img{
  position: relative;
  border: solid 1px #FF5C1A;
  width: 40px;
  float: right;
  height: 40px;
}

.comentario-img{
  border-radius: 180px;
}
.comentario_descripcion{
  position: relative;
  width:80%;
  text-align: left;
  margin-left: 5%;
}
.fx_comentarios{
  display: flex;
  flex-direction: column;
}
.negritas{
  font-weight: bold;
}
.comentario-texto{
  font-family: g-book;
  font-size: 0.8vw;
  color: #1A1A1A;
  overflow-wrap: anywhere;
  overflow-wrap: break-word;
}
.comentario-tiempo{
  color: #B1B1B1;
  font-family: g-book;
  font-size: .5vw;
}
/* fin  modal diseno */

/*modal usuario*/
#modal_usuarios{
  width: 40% !important;
  height: 50vh !important;
}
#datos_modal_usuarios{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;

}
#primer_div{
  position: relative;
  width: 30%;
  height: auto;

}
#datos_usuario{
  position: relative;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: anywhere;

}

#imagen_usuario {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
#imagen_usuario img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #FC5D2B;
}

#nombre_usuario_modal{
  position: relative;
  width: 100%;
  height: 6vh;
}
#nombre_usuario_modal p{
  font-family: regular;
  color: black;
  font-size: 2vw;
}
#nombre_completo{
  width: 100%;
  position: relative;
  height: 6vh;
}
#nombre_completo span{
  text-transform: lowercase;
  font-family: g-book;
  color: black;
  font-size: .8vw;
}
.icono-pos{
  width: 15px;
}
#ubicacion{
  font-family: g-book;
  color: black;
  font-size: .8vw;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#biografia{
  font-family: g-book;
  color: black;
  font-size: .8vw;
  width: 80%;
  height: 18vh;
  position: relative;
  left: 10%;
}
#genero{
  font-family: g-book;
  color: black;
  font-size: 1vw;
  width: 100%;
  position: relative;
  height: 4vh;
}
.behance{
  position: relative;
  left: 4%;
  top:20%;
  font-size: .8vw;
}
#behance{
  width: 100%;
  position: relative;
  height: 4vh;
  justify-content: left;
  display: flex;
}
.dribble{
  position: relative;
  left: 4%;
  top:20%;
  font-size: .8vw;
}
#dribble{
  width: 100%;
  position: relative;
  height: 4vh;
  justify-content: left;
  display: flex;
}
.instagram{
  position: relative;
  left: 4%;
  top:20%;
  font-size: .8vw;
}
#instagram{
  width: 100%;
  position: relative;
  height: 4vh;
  justify-content: left;
  display: flex;
}
#redes_sociales{
  position: relative;
  width: 60%;
  left: 20%;
  height: 13vh;

}
.icono-red{
  width: 8%;
  transition: 0.2s;
}


/*fin modal usuario*/

#icon-hanger{
  display: flex;
  position: relative;
  font-weight: bolder;
  width: 10%;
  height: auto;
  cursor: default !important;
}
#icon-votante{
  display: flex;
  position: relative;
  font-weight: bolder;
  width: 10%;
  height: auto;
  cursor:default !important;
}
#exp_usuarios{
  display: flex;
  position: relative;
  justify-content: start;
}

.ruta_diseno{
  cursor: pointer;
}
.ruta_diseno:hover{
  cursor: pointer;
  color: #FF5C1A;
  font-weight: bold;
}

.swal-title{
  font-family: regular;
  letter-spacing: 2px;
}

.swal-text{
  font-family: g-book;
}

.swal-button--cancel{
  font-family: g-book;
}

.swal-button--confirm{
  font-family: g-book;
  background-color: #FF5C1A;
}

.swal-button--confirm:hover{
  background-color: #FF700D!important;
}

.link_disenos{
  text-decoration: none;
  color: black;
}

.link_disenos:hover{
  color: #FF5C1A;
  font-weight: bold;
}

.cont_usuario_modal{
  position: relative;
  text-align: left;
}

.span_usuario_modal{
  font-size: 20px;
}

.usuario_modal_link{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.usuario_modal_link:hover{
  color: #FF5C1A;
}

.t_ruta{
  width: 300px !important;
  overflow-wrap: anywhere;
  overflow-wrap: break-word;
  word-break: break-all;
}

.t_acciones_dis{
  width: 150px !important;
}

.btn_info_dis{
  margin-right: 10px;
  margin-left: 20px;
}

.btn_info_mk{
  margin-right: 10%;
  margin-left: 10%;
}

.img_mockup{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.t_imagen_mk{
  width: 25%;
}
.t_diseno_mk{
  width: 25%;
}

.t_usuarios_mk{
  width: 25%;
}
.t_total_mk{
  width: 10%;
}

.t_acciones_mk{
  width: 15%;
}


.oculto{
  display: none;
}
.nombre_diseno{
  color: #FF5C1A;
  font-size: 30px;
}

.esp_mockups{
  display: grid;
  /* grid-gap: 10px; */
  background-color: #fff;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
  grid-template-rows: 25% 25% 25% 25%;
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.cont_modal2{
  width: 100%;
  height:100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.esp_nombre_boton{
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btn_descargar_modal{
  margin-left: 30px;
}

.cont_img_modal{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.cont_img_modal_fx{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.dv_sin_foto_modal{
  background-color: #b8b8b8;
  width: 100%;
  height: 100%;
  border-radius: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FC5D2B;
}
.span_sin_foto{
  color: white;
  font-size: 16px;
  font-family: g-book;
}

.tam_foto_perfil{
  width: 140px;
  height: 140px;
}
